.catalog{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 54px;
    .catalogContainer {
        position: relative;
        z-index: 2;
        width: fit-content;
        display: grid;
        gap: 4rem;
        grid-template-columns: repeat(auto-fill);
        // grid-auto-rows: 50.6rem;
        column-gap: 80px;
        row-gap: 54px;
        margin: 0 auto;
        
        .card {
            width: 230px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 14px;
            background-color: #9B9B9B;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            padding: 15px 0 7px 0;
            .cardImg {
                width: 205px;
                height: 235px;
                overflow: hidden;
                background-color: white;
                img {
                    object-fit: cover;
                 object-position: center; 
                 width: 100%;
                 height: 100%;
               }
            }
            .cardFooter {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 190px;
            }
            h1 {
                font-family: "Inter";
                font-size: 12px;
                text-transform: lowercase;
                color: white;
            }
            .heartIcon {
                width: 27px;
                height: 27px;
                background-image: url(./img/heart.svg);
                background-size: contain;
                background-repeat: no-repeat;
                background-color: transparent;
            }
            .heartIcon:hover {
            transform: scale(1.1);
            background-image: url('./img/heart_filled.svg'); 
            }
        }
        .card:hover {
            transform: scale(1.01);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            background-color: #888888;
          }
    }
}
.catalog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(./img/wall.avif) no-repeat center ;
    background-size: cover;
    filter: blur(10px);
    z-index: 1;
    opacity: 0.8;
}